<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DropLife</title>
</head>
<body>
    <div>
        <form action="/api/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" ><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>

            <!-- Puedes agregar campos adicionales según tus necesidades -->
            
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>